<div class="panel panel-default">
    <div class="panel-heading">
        <b>Вчителі</b>
        <button class="btn btn-sm btn-success pull-right" ng-click="addItem('teacher')">Додати нового</button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По батькові</th>
                <th>Метод. день</th>
                <th>Предмети</th>
                <th width="60"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teacher in teachers">
                <td>{{ teacher.surname }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.middle_name }}</td>
                <td>{{ teacher.methodical_day }}</td>
                <td><span ng-repeat="subject in subjects">{{ subject.name }}, </span></td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="delTeacher(teacher)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Предмети</b>
        <button class="btn btn-sm btn-success pull-right" ng-click="addItem('subject')">Додати нового</button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Назва</th>
                <th width="60"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="subject in subjects">
                <td>{{ subject.name }}</td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="delSubject(subject)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Типи предметів</b>
        <button class="btn btn-sm btn-success pull-right" ng-click="addItem('lesson_type')">Додати нового</button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Назва</th>
                <th width="60"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="lesson_type in lesson_types">
                <td>{{ lesson_type.name }}</td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="delLessonType(lesson_type)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<br>

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Взводи</b>
        <button class="btn btn-sm btn-success pull-right" ng-click="addItem('platoon')">Додати нового</button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Номер</th>
                <th>День</th>
                <th width="60"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="platoon in platoons">
                <td>{{ platoon.number }}</td>
                <td>{{ platoon.study_day }}</td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="delPlatoon(platoon)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
