<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Налаштування</title>
</head>
<body class="container" ng-app="subSortApp" ng-controller="settingsCtrl">

<div class="panel panel-default">
    <div class="panel-heading">
        <b>Вчителі</b>
        <button class="btn btn-sm btn-success pull-right" data-toggle="modal" data-target="#add-new-teacher-modal">
            Додати нового
        </button>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По батькові</th>
                <th>Метод. день</th>
                <th>Предмети</th>
                <th width="120"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="teacher in teachers">
                <td>{{ teacher.surname }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.middle_name }}</td>
                <td>{{ teacher.methodical_day }}</td>
                <td><span ng-repeat="subject in subjects">{{ subject.name }}, </span></td>
                <td>
                    <button type="button" class="btn btn-default" disabled><span
                            class="glyphicon glyphicon-pencil"></span></button>
                    <button type="button" class="btn btn-danger" ng-click="delTeacher(teacher)">
                        <span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr>

<div>
    <h2 class="pull-left">Предмети</h2>
    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#add-new-subject-modal">Додати
        нового
    </button>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Назва</th>
        <th width="120"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="subject in subjects">
        <td>{{ subject.name }}</td>
        <td>
            <button type="button" class="btn btn-default" disabled><span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="delSubject(subject)" disabled>
                <span class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <h2 class="pull-left">Типи предметів</h2>
    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#add-new-lesson-type-modal">Додати
        нового
    </button>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Назва</th>
        <th width="120"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="lesson_type in lesson_types">
        <td>{{ lesson_type.name }}</td>
        <td>
            <button type="button" class="btn btn-default" disabled><span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="delTeacher(teacher)" disabled>
                <span class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <h2 class="pull-left">Взводи</h2>
    <button class="btn btn-success pull-right" data-toggle="modal" data-target="#add-new-platoon-modal">Додати
        нового
    </button>
</div>
<table class="table">
    <thead>
    <tr>
        <th>Номер</th>
        <th>День</th>
        <th width="120"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="platoon in platoons">
        <td>{{ platoon.number }}</td>
        <td>{{ platoon.study_day }}</td>
        <td>
            <button type="button" class="btn btn-default" disabled><span class="glyphicon glyphicon-pencil"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="delTeacher(teacher)" disabled>
                <span class="glyphicon glyphicon-trash"></span></button>
        </td>
    </tr>
    </tbody>
</table>

<div id="add-new-teacher-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form ng-submit="addNewTeacher()">
                    <h1>Додати нового вчителя</h1>
                    <div class="form-group">
                        <label for="surname">Прізвище</label>
                        <input id="surname" class="form-control" ng-model="teacher.surname">
                    </div>
                    <div class="form-group">
                        <label for="first_name">Ім'я</label>
                        <input id="first_name" class="form-control" ng-model="teacher.first_name">
                    </div>
                    <div class="form-group">
                        <label for="middle_name">По-батькові</label>
                        <input id="middle_name" class="form-control" ng-model="teacher.middle_name">
                    </div>
                    <div class="form-group">
                        <label for="methodical_day">Методичний день</label>
                        <select id="methodical_day" class="form-control" ng-model="teacher.methodical_day">
                            <option ng-repeat="day in weekdays" ng-bind="day.name" ng-value="day.alias"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="subjects">Предмети</label>
                        <ui-select id="subjects" multiple ng-model="teacher.subjects" theme="bootstrap">
                            <ui-select-match placeholder="Виберіть предмети...">{{$item.name}}</ui-select-match>
                            <ui-select-choices repeat="subject in subjects | filter:$select.search"
                                               ng-value="subject">{{subject.name}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <button class="btn btn-success">Додати</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="add-new-subject-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form ng-submit="addNew('subject')">
                    <h1>Додати новий предмет</h1>
                    <div class="form-group">
                        <label for="subject_name">Назва</label>
                        <input id="subject_name" name="name" class="form-control" ng-model="subject.name">
                    </div>
                    <button class="btn btn-success">Додати</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="add-new-lesson-type-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form ng-submit="addNewLessonType()">
                    <h1>Додати новий тип предмета</h1>
                    <div class="form-group">
                        <label for="subjectType_name">Назва</label>
                        <input id="subjectType_name" name="name" class="form-control" ng-model="subjectType.name">
                    </div>
                    <button class="btn btn-success">Додати</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="add-new-platoon-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form ng-submit="addNew('platoon')">
                    <h1>Додати новий взвод</h1>
                    <div class="form-group">
                        <label for="platoon_number">Номер</label>
                        <input type="number" id="platoon_number" name="number" class="form-control"
                               ng-model="platoon.number">
                    </div>
                    <div class="form-group">
                        <label for="platoon_study_day">День навчання</label>
                        <select id="platoon_study_day" class="form-control" ng-model="platoon.study_day">
                            <option ng-repeat="day in weekdays" ng-bind="day.name" ng-value="day.alias"></option>
                        </select>
                    </div>
                    <button class="btn btn-success">Додати</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/static/settings.js"></script>
</html>
