<div class="nav-wrapper">
    <div class="nav">
        <form class="form-inline date-picker" ng-submit="loadSchedule($event)">
            <div class="form-group">
                <label for="sch-date-start">від</label>
                <input id="sch-date-start" class="form-control" type="date" ng-model="tab.dt_start">
            </div>
            <div class="form-group">
                <label for="sch-date-end">до</label>
                <input id="sch-date-end" class="form-control" type="date" ng-model="tab.dt_end">
            </div>
            <button class="btn btn-success">Завантажити</button>
        </form>

        <div class="separator"></div>

        <form class="form-inline">
            <div class="form-group">
                <select class="form-control" ng-model="styles.schedules.zoom">
                    <option value="25%">25%</option>
                    <option value="50%">50%</option>
                    <option value="75%">75%</option>
                    <option value="100%">100%</option>
                </select>
            </div>
        </form>

        <div class="separator"></div>

        <div>
            <button type="button" class="btn btn-success" ng-click="addSchedule()">
                Створити новий розклад
            </button>
            <button type="button" class="btn btn-default" ng-click="addTab()">Додати вкладку</button>
            <a ui-sref="settings" class="btn btn-warning">Налаштування</a>
        </div>

        <div class="separator"></div>

        <div>
            <a href="{{baseUrl}}/subjects/excel" target="_blank" class="btn btn-default">Експорт в Excel</a>
            <a href="{{baseUrl}}/statistic/full" target="_blank" class="btn btn-info" ng-click="downloadStats($event)">Статистика в
                Excel</a>
            <button type="button" class="btn btn-success" ng-click="saveAll()">Зберегти все</button>
            <button type="button" class="btn btn-warning" ng-click="sortAll()">Сортувати все</button>
        </div>
    </div>
</div>

<div ng-style="styles.schedules">
    <schedule ng-repeat="day in days" date="day.date"></schedule>
</div>
