<div class="panel panel-primary schedule-content">
    <div class="panel-heading schedule-nav">
        <div class="schedule-nav-title">Розклад на {{ date_show }}</div>
        <div class="schedule-nav-controls">
            <div class="form-inline">
                <div class="form-group">
                    <input type="number" class="form-control" ng-model="pairToAdd">
                    <button type="button" class="btn btn-default" ng-click="addPair()">Додати пару</button>
                </div>
            </div>
            <div class="separator"></div>
            <div class="form-inline">
                <div class="form-group">
                    <select class="form-control" ng-model="platoonToAdd">
                        <option ng-repeat="platoon in availablePlatoons" ng-value="platoon">{{platoon.number}}</option>
                    </select>
                    <button type="button" class="btn btn-default" ng-click="addPlatoon()">Додати взвод</button>
                </div>
            </div>
            <div class="separator"></div>
            <div class="form-inline">
                <div class="form-group">
                    <button type="button" class="btn btn-success" ng-click="btnSaveClick()">Зберегти</button>
                    <button type="button" class="btn btn-warning" ng-click="btnSortClick()">Сортувати</button>
                    <button type="button" class="btn btn-danger btn-close" ng-click="delSchedule()">x</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body schedule-table-wrapper">
        <table class="schedule-table">
            <thead>
            <tr>
                <th></th>
                <th ng-repeat="item in grid[0].lessons" class="pair text-center">
                    <b>{{ item.platoon.number }}</b>
                    <button type="button" class="btn btn-danger btn-sm pull-right btn-close"
                            ng-click="delPlatoon(item.platoon)">x
                    </button>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in grid" class="tr">
                <td class="pair-number text-center">
                    <button type="button" class="btn btn-danger btn-sm btn-close"
                            ng-click="delPair(row.number)">x
                    </button>
                    <br>
                    <b>{{ row.number }}</b>
                </td>
                <td ng-repeat="item in row.lessons" class="pair">
                    <lesson lesson="item.lesson"
                            ng-mousedown="lessonClick(item)"
                            ng-class="item.isSelected ? 'selected' : ''"
                            context-menu="menuOptions"></lesson>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="loading-modal">
    <div class="center">
        <h2>Завантаження...</h2>
    </div>
</div>
