lesson {
  display: block;
  border: 2px solid #e8e8e8;

  .lesson-content {
    width: 100%;
  }

  &.selected {
    background: #eef;
    border-color: #aaf;
  }

  &:hover {
    border-color: #fbb;
  }

  &:active {
    border-color: #f55;
  }

  input {
    width: 100%;
  }

  select {
    width: 100%
  }
}
