html, body {
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', sans-serif;
}

* {
  box-sizing: border-box;
}

input, select {
  border: 1px solid #888;
  padding: 3px 6px;
  width: 12em;
}

button {
  border: 1px solid #888;
  padding: 4px 10px;
  font: inherit;
  line-height: 1;
}

.nav {
  background: #747E80;
  padding: 20px;

  & > * {
    vertical-align: bottom;
  }
}

.btn-close {
  font-size: 10px;
  width: 24px;
  height: 24px;
  border-radius: 0;
  line-height: 1;
  text-align: center;
  padding: 6px 0;
  vertical-align: middle;
  background: #f55;
  color: #fff;

  &:before {
    content: '\2573';
  }
}

.separator {
  display: inline-block;
  height: 30px;
  border: 1px solid #888;
  margin: 0 15px;
}

.date-picker {
  display: inline-block;
}
